In [1]:
import pandas as pd
data=pd.read_csv('D:/ict/Sales_add.csv')

In [2]:
from scipy.stats import ttest_ind

In [3]:
data.head()

,Month,Region,Manager,Sales_before_digital_add(in $),Sales_After_digital_add(in $)
0,Month-1,Region - A,Manager - A,132921,270390
1,Month-2,Region - A,Manager - C,149559,223334
2,Month-3,Region - B,Manager - A,146278,244243
3,Month-4,Region - B,Manager - B,152167,231808
4,Month-5,Region - C,Manager - B,159525,258402

In [4]:
t_stat,p_val=ttest_ind(data['Sales_before_digital_add(in $)'],data['Sales_After_digital_add(in $)'])

In [7]:
if p_val<0.05:
    print('null hypothsis rejected, So there is increase in sales.')
else:
    print('null hypo accepted, there is no increase in sales.')

null hypothsis rejected, So there is increase in sales.

In [8]:
from scipy.stats import chi2_contingency

In [9]:
con=pd.crosstab(data['Region'],data['Manager'])

In [10]:
con

Manager     Manager - A  Manager - B  Manager - C
Region
Region - A            4            3            3
Region - B            4            1            2
Region - C            1            3            1

In [11]:
chi2_stat ,p_val,dof,exp=chi2_contingency(con)

In [13]:
if p_val<0.05:
    print('null hypothsis rejected, there is dependency between region  and manager.')
else:
    print('null hypo accepted, there is no dependency between region  and manager.')

null hypo accepted, there is no dependency between region  and manager.